* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    height: 6000px;
}

/*. ========= dùng chung ========== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    width: 205px;
    line-height: 60px;
    background: #2e80ce;
    border-radius: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

:root {
    --header-bg: #10375c;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* =========== header ============ */
.header {
    background: var(--header-bg);
    padding-top: 22px;
    position: sticky;
    top: -22px;
    z-index: 1;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.logo {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 1.2rem;
    position: relative;
}

.logo__circle::before {
    content: "";
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 999em;
    background: #2e80ce;
}

.logo__circle::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    top: 1.1em;
    left: 1.1em;
    border-radius: 999em;
    background: #ffffff;
}

.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 0.78em;
    color: #ffffff;
    text-align: right;
}

.logo__brand--small {
    display: block;
    text-align: right;
    margin-top: 0.3em;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #ffffff;
}

/* navbar */
.navbar {
}

.navbar__list {
    display: flex;
}

.navbar__link {
    display: inline-block;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #c9d2da;
    text-align: center;
    padding: 8px 21px;
}

.navbar__link::before {
    content: attr(title);
    display: block;
    font-weight: 400;
    color: #ffffff;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.navbar__link:hover {
    font-weight: 400;
    /* text-shadow: 1px 0 0 currentColor; */
    color: #ffffff;
}

.navbar__link--home {
    position: relative;
}

.navbar__link--home::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    transform: translateY(50%);
    left: 10px;
    bottom: 50%;
    border-radius: 999px;
    background: #ffffff;
}

/* action */
.header-action {
    display: flex;
    align-items: center;
    gap: 14px;
}

.header-action__link {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #c9d2da;
    padding: 8px 14px;
}

.header-action__link:hover {
    opacity: 0.9;
}

.header-action__signup {
    width: 104px;
    line-height: 44px;
    font-size: 1.6rem;
    color: #ffffff;
}

/* hero */
.hero-top {
    padding-bottom: 110px;
    background: #10375c;
}

.hero {
    padding-top: 36px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    margin-top: 38px;
}

.hero__call {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero__img--left {
    position: relative;
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img--right {
    margin: 65px 0px 65px -6px;
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 0px 6px 6px 0px;
}

/* ================= services ================= */
.services {
    padding: 170px 0;
}

.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.02em;
    color: #10375c;
}

.section-desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #575f66;
}

.services-row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.services__list {
    width: 40%;
}

.services-item {
    padding: 21px 18px 0px 22px;
    transition: 0.25s;
    
}

.services-item:hover .services-item__icon {
    color: #fff;
    background: #2e80ce;
}

.services-item:hover {
    cursor: pointer;
    /* background: #F6FBFF; */
    border: 0px solid #f6fbff;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    transform: scale(1.1);
}

.services-item + .services-item {
    margin-top: 21px;
}

.services-item__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    color: #10375c;
    width: 60px;
    height: 60px;
    border-radius: 999px;
    background: #eff6fd;
    transition: 0.3s;
}

.services-item {
    display: flex;
}

.services-item__body {
    margin-left: 19px;
}

.services-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}

.services-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.services__btn {
    margin-top: 75px;
}

/* ========== works ========== */
.works {
    padding: 100px 0 116px;
    background: #f6fbff;
}
.works-top .section-heading {
    text-align: left;
}

.works-top .section-desc {
    text-align: left;
}

.work-bot {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
}

.work-bot__box {
    width: 31.62%;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    padding: 44px 42px 43px;
    transition-property: all;
    transition: 0.5s;
    
}

@keyframes quay{
    to{
        transform: rotate(360deg);
    }
}

.work-bot__box:hover {
    transform: translateY(-16px);
    border-color: #2e80ce; 
}

.work-bot__box:hover .work-bot__link {
    font-weight: 400;
    color: #2e80ce;
}

.work-bot__icon {
    font-size: 6.752rem;
    color: #10375c;
}

.work-bot__heading--link {
    display: block;
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work-bot__desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work-bot__link {
    display: block;
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

/* =============== take ================= */
.take-body {
    padding: 170px 0;
    display: flex;
    justify-content: space-between;
}

.take-images {
    width: 48.7%;
    position: relative;
}

.take-right {
    width: 40%;
}

.take__img--left {
    width: 512px;
    height: 370px;
    object-fit: cover;
    filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.07));
    border-radius: 6px;
}

.take__img--right {
    position: absolute;
    top: 121px;
    right: -58px;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.take-right .section-heading {
    margin-top: 82px;
    text-align: left;
}

.take-right .section-desc {
    text-align: left;
}

.take-btn {
    margin-top: 38px;
}
/* ============= virtual ============== */
.virtual {
    padding-top: 100px;
}

.virtual-btn {
    display: block;
    margin: 38px auto 0;
}

.virtual-box {
    transition: all ease 0.5s;
}

.virtual-row {
    
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.virtual-box__img {
    padding-top: 28px;
    max-width: 100%;
    height: 318px;
    object-fit: cover;
    background: #eaf6ff;
    border-radius: 6px;
    
}

.virtual-box:hover{
    transform: scale(1.1);
}

.virtual-box__sub {
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #10375c;
}

.virtual-box__desc {
    padding: 0 15px 0 17px;
    /* text-align: center; */
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #575f66;
}

.next {
    margin: 38px;
    display: flex;
    gap: 18px;
    justify-content: center;
}

.next .fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 999px;
}

.next .fa-solid:hover {
    background: #2e80ce;
    border-color: #ffffff;
    color: #fff;
    cursor: pointer;
}

/* =============== info =============== */
.info {
    margin-top: 256px;
}

.info-body {
    position: relative;
    background: #2e80ce;
    border-radius: 4px;
}

.info-body__img {
    position: absolute;
    width: 284px;
    height: 522px;
    left: 70px;
    bottom: -7px;
    border-radius: 20px;
    object-fit: cover;
    transition: all 0.5s ease;
}

.info-body__img:hover{
    transform: scale(1.2);
}

.info-right {
    width: 50%;
    margin-left: 514px;
    padding: 76px 0 75px 0;
}

.info-right .section-heading {
    width: 489px;
    text-align: left;
    color: #ffffff;
}

.info-right .section-desc {
    color: #ffffff;
    text-align: left;
}

.info-right__action {
    margin-top: 38px;
}

.info-right__action--icon {
    padding: 6.8px 9px 6px 10px;
    margin-right: 30px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    mix-blend-mode: normal;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.info-right__action--icon:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.2);
}

.fa-google-play,
.fa-apple {
    font-size: 2.2rem;
    color: #fff;
}

.info-action__desc--top {
    font-weight: 200;
    font-size: 0.7rem;
    line-height: 1.2;
    color: #fff;
}

.info-action__desc--bot {
    font-weight: 400px;
    font-size: 1.1rem;
    line-height: 1.2;
    color: #fff;
}

/* =============== events ================ */
.events {
    margin-top: 170px;
}

.events .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.events-left {
    width: 40.2%;
}

.events-left .section-heading {
    text-align: left;
}

.events-left__desc {
    display: block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    color: #10375c;
}

.events-left__next {
    margin: 28px 0 0;
    justify-content: flex-start;
}

.events-right {
    width: 48.7%;
    display: flex;
    gap: 30px;
}

.events-right__row {
    width: 271px;
    border: 1px solid #e8ebee;
    border-radius: 12px;
}

.events-right__img {
    width: 270px;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.events-right__box {
    width: 270px;
    padding: 18px 24px 21px 22px;
}

.events-right__box--sub {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375c;
}

.events-right__box--desc {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575f66;
}

.events-right__box--link {
    display: block;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.3;
    color: #10375c;
}

.events-right__box--link:hover {
    color: #2e80ce;
}

/* ================ patients =================== */
.patients {
    margin-top: 170px;
    background: #f7fbff;
}

.patients-body {
    padding: 100px 0 100px;
}

.patients-body__zhixian {
    margin: 18px auto 0;
    width: 136px;
    height: 2px;
    background: #2e80ce;
}

.patients .section-desc {
    margin: 18px auto 0;
    width: 53%;
}

.patients-body__btn {
    display: block;
    margin: 38px auto 0;
}

/* =============== footer ================== */
.footer {
    margin-top: 170px;
    background: #10375c;
}

.footer-body {
    padding: 100px 0 42px;
    display: flex;
    justify-content: space-between;
}

.footer-body__box--desc {
    width: 236px;
    margin-top: 21px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #a9b3bb;
}

.footer-body__sub {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer-support__list {
    margin-top: 20px;
}

.footer-support__link + .footer-support__link {
    margin-top: 10px;
}

.footer-support__link {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #a9b3bb;
}

.footer-body__icon {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.footer-body__icon .fa-brands {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    font-size: 1.8rem;
    color: #2e80ce;
    background: #ffffff;
    transition: all 0.3s ease;
}

.footer-body__icon .fa-brands:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.footer-body__sub--bot {
    margin-top: 28px;
}

.footer-body__input {
    margin-top: 10px;
    padding: 10px;
    background: none;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #9ca8b1;
    width: 212px;
    height: 46px;
    border: 1px solid #406181;
    border-radius: 4px;
}

.footer-body__btn {
    margin-left: 12px;
    width: 108px;
    line-height: 46px;
    background: #2e80ce;
    border-radius: 4px;
}

.footer-body_zhixian {
    width: 1170px;
    height: 1px;
    left: 135px;
    top: 6746px;
    background: #406181;
}

.footer-end {
    text-align: center;
    margin: 28px auto;
    padding-bottom: 42px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #aab3ba;
}
